/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
article p:first-child{
	color:white;
	background-color:black;
}
article p:nth-child(2){
	color:inherit;
}
article p:last-child{
	color:red;
}
ul li{
	background-color:gray;
	padding:10px
	width:50%;
}
ul li:nth-child(odd){
	background-color:white;
}
ul li:first-child,ul li:last-child{
	font-size:22px;
}
ul li:nth-child(3){
	background-color:pink;
}
